doctype html
html(lang="en")
    include head.pug
    body
        include navbar.pug
        
        section(id="description")
            div(class="container")
                div(class="row")
                    div(class="col-sm")
                        h1(id="title") UI Test Automation<br>Playground
                        blockquote(
                            class="blockquote" 
                            id="citation"
                        )
                            p(class="mb-0") Quality is not an act, it is a habit.
                            footer(class="blockquote-footer") Aristotle
                        div(
                            class="alert alert-warning" 
                            role="alert"
                        )
                            span The purpose of this website is to provide a platform for sharpening UI test automation skills. Use it to practice with your test automation tool. Use it to learn test automation techniques.
                        p Different automation pitfalls appearing in modern web applications are described and emulated below.
                    div(class="col-sm")
                        img(
                            src="/static/cube.png" 
                            class="img-fluid" 
                            alt="Responsive image"
                        )
                        p(class="text-center")
                            <small>
                                <a href="http://pngimg.com/download/46552">Rubik's Cube </a> is licensed under 
                                <a href="https://creativecommons.org/licenses/by-nc/4.0/">CC 4.0 BY-NC</a>
                            </small>


        section(id="overview")
            div(class="container")
                div(class="row")
                    div(class="col-sm")
                        h3
                            a(href="/dynamicid") Dynamic ID
                        p Make sure you are not recording dynamic IDs of elements
                    div(class="col-sm")
                        h3 
                            a(href="/classattr") Class Attribute
                        p Check that class attribute based XPath is well formed
                    div(class="col-sm")
                        h3 
                            a(href="/hiddenlayers") Hidden Layers
                        p Verify that your test does not interact with elements invisible because of z-order
                    div(class="col-sm")
                        h3
                            a(
                                href="/loaddelay" 
                                onclick="$('#spinner').show(); return true;"
                            ) Load Delay
                            i(
                                id="spinner" 
                                class="fa fa-spinner fa-spin" 
                                style="display:none"
                            )
                        p Ensure that a test is capable of waiting for a page to load
                div(class="row")
                    div(class="col-sm")
                        h3 
                            a(href="/ajax") AJAX Data
                        p Some elements may appear on a page after loading data with AJAX request
                    div(class="col-sm")
                        h3 
                            a(href="/clientdelay") Client Side Delay
                        p Some elements may appear after client-side time consuming JavaScript calculations
                    div(class="col-sm")
                        h3
                            a(href="/click") Click
                        p  Event based click on an element may not always work
                    div(class="col-sm")
                        h3 
                            a(href="/textinput") Text Input
                        p Entering text into an edit field may not have effect
                div(class="row")
                    div(class="col-sm")
                        h3 
                            a(href="/scrollbars") Scrollbars
                        p Scrolling an element into view may be a tricky task
                    div(class="col-sm")
                        h3 
                            a(href="/dynamictable") Dynamic Table
                        p Verify cell value in a dynamic table                    
                    div(class="col-sm")
                        h3 
                            a(href="/verifytext") Verify Text
                        p Finding an element by displayed text has nuances
                    div(class="col-sm")
                        h3 
                            a(href="/progressbar") Progress Bar
                        p Follow the progress of a lengthy process and continue upon completion 
                div(class="row")
                    div(class="col-sm")
                        h3 
                            a(href="/visibility") Visibility
                        p Check if element is visible on screen     
                    div(class="col-sm")
                        h3 
                            a(href="/sampleapp") Sample App
                        p Demo application with dynamically generated element attributes
                    div(class="col-sm")
                        h3 
                            a(href="/mouseover") Mouse Over
                        p Placing mouse over an element may change DOM and make the element unavailable
                    div(class="col-sm")
                        h3 
                            a(href="/nbsp") Non-Breaking Space
                        p Non-breaking space looks like a normal one on screen. It may lead to confusion when building XPath
                div(class="row")
                    div(class="col-sm")
                        h3 
                            a(href="/overlapped") Overlapped Element
                        p Make element visible to enter text                          
                    div(class="col-sm")
                        h3 
                            a(href="/shadowdom") Shadow DOM
                        p Look inside Shadow DOM component    
                    div(class="col-sm")
                        h3 
                            a(href="/alerts") Alerts
                        p Accept alerts, confirmations and prompts   
                    div(class="col-sm")
                        h3
                            a(href="/upload") File Upload
                        p Upload files
        include footer.html