nav(class="navbar navbar-expand-lg navbar-light bg-light")
    a(
        class="navbar-brand"
        href="/"
    ) UITAP
    button(
        class="navbar-toggler" 
        type="button" 
        data-toggle="collapse" 
        data-target="#navbarSupportedContent" 
        aria-controls="navbarSupportedContent" 
        aria-expanded="false" 
        aria-label="Toggle navigation"
    )
        span(class="navbar-toggler-icon")
    div(
        class="collapse navbar-collapse" 
        id="navbarSupportedContent"
    )
        ul(class="navbar-nav mr-auto")
            li(
                class=homeActive ? "nav-item active" : "nav-item"
            )
                a(
                    class="nav-link" 
                    href="/home"
                ) Home
            li(
                class=resourceActive ? "nav-item active" : "nav-item"
            )
                a(
                    class="nav-link" 
                    href="/resources"
                ) Resources
